<system.serviceModel>

	<bindings>

		<basicHttpBinding>
			<binding name="SoapBinding" maxReceivedMessageSize="8048576">
				<security mode="Transport" />
			</binding>
		</basicHttpBinding>

	</bindings>


	<client>

		<endpoint address="https://login.salesforce.com/services/Soap/u/42.0"
				  binding="basicHttpBinding" bindingConfiguration="SoapBinding4"
				  contract="PartnerAPI.Soap" name="Soap42" />

			<endpoint address="https://login.salesforce.com/services/Soap/u/51.0"
				binding="basicHttpBinding" bindingConfiguration="SoapBinding"
				contract="PartnerAPI.Soap" name="Soap" />


	</client>

</system.serviceModel>

